# ==========================================
# 1. 核心基础环境 (Core Deep Learning)
# ==========================================
--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2

# Numpy 锁死在 2.0 以下
numpy==1.23.5

# 深度学习工具
deepspeed==0.15.1; sys_platform == 'linux'
lightning==2.2.4
accelerate
diffusers==0.29.0
transformers==4.41.2
x-transformers==2.11.24
modelscope==1.20.0
hydra-core==1.3.2
omegaconf==2.3.0
tensorboard==2.14.0

# ONNX
onnx==1.16.0
onnxruntime-gpu==1.18.0; sys_platform == 'linux' or sys_platform == 'win32'
onnxruntime==1.18.0; sys_platform == 'darwin' 

# ==========================================
# 4. Web UI 与 服务端
# ==========================================
gradio==5.4.0
fastapi==0.115.6
pydantic==2.7.0
fastapi-cli==0.0.4
uvicorn==0.30.0
python-dotenv
colorama
rich==13.7.1
wget==3.2
gdown==5.1.0
openai
matplotlib<=3.9.2

# ==========================================
# 5. 模型下载库
# ==========================================
modelscope
huggingface_hub